<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEu2GHC09-uR7Ub8WkxXY5pDbDc-0rZGg</string>
	<key>GCM_SENDER_ID</key>
	<string>131369973023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ninjaMoney</string>
	<key>PROJECT_ID</key>
	<string>ninja-money-flutter-db</string>
	<key>STORAGE_BUCKET</key>
	<string>ninja-money-flutter-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131369973023:ios:f1aaa5eda8bdc062f7ac2a</string>
</dict>
</plist>